.footer {
    width: 100%;
    height: 200px;
    padding: 0px 0px;
    padding-bottom: 70px;
    background-color: #333;
}
.footer__wrap {
    display: flex;
    flex-direction: row;
    padding: 0px 100px;
}
.footer__socailMedia {
    display: flex;
    flex: 0.4;
    flex-direction: column;
}
.footer__socailMedia p {
    width: 100%;
    margin: 30px 0px;
    color: white;
}
.footer_icon {
    cursor: pointer;
    color: white;
}
.footer_icon:hover {
    color: #FFBF00;
}
.footer__socialMediaIcon h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    
    color: white
}
.footer__socialMediaIcon a {
    color: white
}
.footer__policys {
    display: flex;
    flex: 0.3;
    flex-direction: column;
}
.footer__policys ul li {  
    color: white;
    font-size: 15px;
    cursor: pointer;
    list-style-type: none;
    margin-left: -41px;
}
.footer__policys ul li:hover {
    color: #FFBF00;
}
.footer__policys h4 {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.footer__contactUs {
    display: flex;
    flex: 0.3;
    flex-direction: column;
}
.footer__contactUs ul li {
    color: white;
    font-size: 15px;
    cursor: pointer;
    list-style-type: none;
    margin-left: -41px;
}
.footer__contactUs ul li:hover {
    color: #FFBF00;
}
.footer__contactUs h4 {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}