.questions {
    background-color: #FFBF00;
    width: 100%;
}
.questions__wrap {
    height: 500px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 0px 30px 0 30px;
    background-color: white;
}
.questions__wrap h1 {
    width: 100%;
    text-align: center;
    /* padding: 10px; */
    /* background-color: #FFBF00; */
}





.questionPagination {
    display: flex;
    flex-direction: row;
    margin: 20px;
    /* margin-top: 20%; */
    /* margin-left: 13%; */

    /* height: 5%; */
    width: 250px;
}
.questionPagination__block {
    color: black;
    background-color: white;
    border: 2px solid #333;
    cursor: pointer;

    padding: 25px;
    margin-top: 10%;
}
@media only screen and (max-width: 980px) { 
    .questions__wrap {
        height: 600px;
        width: 100%;
        padding: 0px 0px;
        margin: 0px 0px 0px 0px;
    }


    .questionPagination__block {
        padding: 10px;
        margin-top: 5%;
    }
}