.courses {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    /* background-color: #c7c5c5; */
}
.courses__wrap {
    padding: 0px 50px;
    padding-bottom: 100px;
    margin: 0px 300px;
    background-color: #fafafc;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.courses__wrap h2 {
    color: #333;
    margin-bottom: 40px;
    font-size: 1.7rem;
    text-decoration: underline;
}
.courses__container {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
.courses__courseInfo {
    display: flex;
    flex-direction: row;
}
.courses__courseInfo img {
    margin-right: 40px;
    width:70px;
    height:70px;
}

/*#335*/
.course {
    display: block;
    background-image: linear-gradient(to right, #333, #FFBF00);
    position: relative;

    width: 300px;
    height: 100px;
    border-radius: 35px;

    margin: 30px;
}
.course:hover {
    transform: scale(1.2);
}
.course a {
    margin-left: 20px;
    color: white;
}
.course__arrow {
    font-size: 40px !important;
    color: #331;
    position: absolute;
    top: 33%;
    left: 80%;
    display: flex;
    justify-content: right;
}
.course__info {
    font-size: 12px;
    color: #D3D3D3;

    margin-left: 20px;
}

@media only screen and (max-width: 980px) { 
    .courses__wrap {
        margin: 0px 20px;
    }
    .courses__wrap h2 {
        text-align: center;
    }
    .courses__container {
        display: flex;
        flex-direction: column;

    }
    .courses__courseInfo {
        padding-bottom: 5px;
        border-bottom: 4px solid #FFBF00;
    }
    
}