.header {
    display: flex;
    width: 100%;
    height: 60px;
    z-index: -1;
    margin: 0px auto;
    background-color: #333;
}
.header__wrap {
    display: flex;
    width: 80%;
    margin: 0px auto;
}
.header__logo {
    width: 360px !important;
    height: 60px !important;
    z-index: 1;
}
.header__logo img {
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.header__navigation, .header__mainMenu {
    display: block;
    width: 100%;
    height: 100%;
} 
.header__navigation ul, .header__mainMenu ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    line-height: 1px;
    float: right;
}
.header__navigation ul li, .header__mainMenu ul li {
    margin-top: 10px;
}
.header__navigation ul li a, .header__mainMenu ul li a {
    color: white;
    text-align: center;
    padding: 0px 15px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.header__navigation ul li a:hover, .header__mainMenu ul li a:hover {
    background-color: #FFBF00;
}
.header__wrap ul {
    list-style-type: none;
}

@media only screen and (max-width: 980px) { 
    /* .header__navigation ul li a {
        font-size: 0.8rem;
    } */
}