#surveybox {
    background: #333;
    width: 80%;
    margin: 2px auto;
}
#header {
    text-align: center;
    margin-bottom: 40px;
}

#contact-info {
    color: green;
    padding: 0px;

}
#name-label {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin: 5px;
}